.plr-0 {
    padding-left: 0; padding-right: 0;
}

.select-control {
    position: relative;
    /*Don't really need this just for demo styling*/
    min-width: 100%;
}

/*To remove button from IE11, thank you Matt */
select::-ms-expand {
    display: none;
}

.select-control:after {
    content: '>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    
    top: 9px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  }
  
  .select-control select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    
    display: block;
    width: 100% !important;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: none;
    -ms-word-break: normal;
    word-break: normal;
  }
